/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arr-down-red {
  background-image: url(../img/sprite.png);
  background-position: -75px -33px;
  width: 11px;
  height: 8px;
}
.icon-burger {
  background-image: url(../img/sprite.png);
  background-position: -27px -119px;
  width: 20px;
  height: 14px;
}
.icon-cart {
  background-image: url(../img/sprite.png);
  background-position: 0px -52px;
  width: 28px;
  height: 28px;
}
.icon-chart {
  background-image: url(../img/sprite.png);
  background-position: -37px -90px;
  width: 28px;
  height: 18px;
}
.icon-cmpareBtn {
  background-image: url(../img/sprite.png);
  background-position: 0px -90px;
  width: 27px;
  height: 19px;
}
.icon-compare {
  background-image: url(../img/sprite.png);
  background-position: -52px 0px;
  width: 34px;
  height: 23px;
}
.icon-dropdown {
  background-image: url(../img/sprite.png);
  background-position: -43px -146px;
  width: 11px;
  height: 7px;
}
.icon-fb {
  background-image: url(../img/sprite.png);
  background-position: -160px 0px;
  width: 9px;
  height: 18px;
}
.icon-feedback {
  background-image: url(../img/sprite.png);
  background-position: -21px -146px;
  width: 12px;
  height: 11px;
}
.icon-google {
  background-image: url(../img/sprite.png);
  background-position: -96px -63px;
  width: 23px;
  height: 16px;
}
.icon-green-check {
  background-image: url(../img/sprite.png);
  background-position: -52px -33px;
  width: 13px;
  height: 8px;
}
.icon-heart {
  background-image: url(../img/sprite.png);
  background-position: -96px 0px;
  width: 24px;
  height: 22px;
}
.icon-home {
  background-image: url(../img/sprite.png);
  background-position: -38px -52px;
  width: 26px;
  height: 26px;
}
.icon-instagram {
  background-image: url(../img/sprite.png);
  background-position: 0px -119px;
  width: 17px;
  height: 17px;
}
.icon-instagram1 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 42px;
  height: 42px;
}
.icon-left {
  background-image: url(../img/sprite.png);
  background-position: -160px -28px;
  width: 6px;
  height: 9px;
}
.icon-like {
  background-image: url(../img/sprite.png);
  background-position: -130px -90px;
  width: 18px;
  height: 17px;
}
.icon-loc {
  background-image: url(../img/sprite.png);
  background-position: 0px -146px;
  width: 11px;
  height: 15px;
}
.icon-percent {
  background-image: url(../img/sprite.png);
  background-position: -130px 0px;
  width: 20px;
  height: 21px;
}
.icon-question {
  background-image: url(../img/sprite.png);
  background-position: -96px -32px;
  width: 21px;
  height: 21px;
}
.icon-questions {
  background-image: url(../img/sprite.png);
  background-position: -106px -90px;
  width: 14px;
  height: 14px;
}
.icon-right-arr {
  background-image: url(../img/sprite.png);
  background-position: -74px -52px;
  width: 11px;
  height: 17px;
}
.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -130px -62px;
  width: 18px;
  height: 18px;
}
.icon-shareBtn {
  background-image: url(../img/sprite.png);
  background-position: -130px -31px;
  width: 20px;
  height: 21px;
}
.icon-text {
  background-image: url(../img/sprite.png);
  background-position: -75px -90px;
  width: 21px;
  height: 15px;
}
.icon-tw {
  background-image: url(../img/sprite.png);
  background-position: -57px -119px;
  width: 18px;
  height: 14px;
}
.icon-vk {
  background-image: url(../img/sprite.png);
  background-position: -112px -119px;
  width: 19px;
  height: 11px;
}
.icon-youtube {
  background-image: url(../img/sprite.png);
  background-position: -85px -119px;
  width: 17px;
  height: 13px;
}
